.slider-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 990px;
  margin: 0px;
  width: 80vw;
}

/* * {
  border: solid 1px red;
} */
.slider {
  padding: 50px;

  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
}

.home-story-container {
  /* background-color: honeydew; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0px;
  /* width: 100%; */
  margin-bottom: 0px;
  /* border: solid 1px green; */
  text-align: center;
}

.img-container {
  text-align: center;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: solid 1px red; */
}

.slider-img-container {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #e20337, #c60188, #7700c3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.slider-img {
  border-radius: 60px;
  width: 70px;
  height: 70px;
  border: 3px solid #ffffff;
}

.slider-img-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
}
.slick-prev:before,
.slick-next:before {
  color: #7f8487;
}

@media (max-width: 992px) {
  .slider-img {
    width: 54px;
    height: 54px;
  }
  .slider-img-container {
    width: 58px;
    height: 58px;
  }
  .slider-container {
    margin-bottom: 0px;
    margin-top: 0px;
    /* border: solid 3px black; */
  }
  .home-story-container {
    margin-top: 0px;
  }
}
