.slider-container {
  /* background-color: #419be0; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 1100px; */
}
.slider-c2 {
  max-width: 1100px;
}
/* * {
  border: solid 1px red;
} */
.slider {
  padding: 50px;
  max-width: 1100px;
  width: 80vw;
  /* background-color: blueviolet; */
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  /* width: 80%;
  max-width: 1100px;
  margin-top: 10px;
  background-color: azure; */
}

.home-story-container {
  /* background-color: honeydew; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 40px;
  /* width: 100%; */

  /* border: solid 1px green; */
  text-align: center;
}

.img-container {
  text-align: center;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: solid 1px red; */
}

.home-story-img {
  border-radius: 60px;
  height: 50px;
  align-items: center;
  /* border: solid 1px blue; */
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
