.not-found-bg {
  min-height: 95vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
}
.not-found-img {
  height: 296.9958190917969px;
  width: 268.99359130859375px;
}
.not-found-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #262626;
}

.not-found-msg {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #989898;
  margin-bottom: 2px;
  margin-top: 0px;
}

.not-found-home-btn {
  padding: 12px 32px;
  gap: 8px;
  margin-top: 20px;
  height: 48px;

  background: #4094ef;
  border-radius: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Light / base / white */

  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 480px) {
  .not-found-img {
    height: 172.99755859375px;
    width: 156.9962615966797px;
  }
  .not-found-header {
    font-size: 20px;
  }
  .not-found-msg {
    font-size: 16px;
    width: 80%;
  }
}
