.profile-post {
  width: 330px;
  height: 330px;
  margin: 0px 0px 0px 0px;
  /* border: solid 5px green; */
}
/* * {
  border: solid 1px red;
} */
/* .profile-posts-container li {
  flex: 1 0 auto;
} */

/* .profile-posts-container li:last-child .profile-post {
  margin-right: 0;
} */
.profile-post-list {
  /* background-color: aqua; */
  padding: 0px;
}
.profile-posts-container {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(auto-fit, minmax(0, 330px));
  grid-gap: 20px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  align-self: center;
  /* border: solid 5px black; */
}
@media (max-width: 992px) {
  .profile-posts-container {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit, minmax(0, 200px));
    grid-gap: 10px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 80%;
    /* border: solid 5px black; */
  }
  .profile-post {
    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 0px;
    /* border: solid 5px green; */
  }
}
@media (max-width: 480px) {
  .profile-posts-container {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit, minmax(0, 119px));
    grid-gap: 4px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    /* border: solid 5px black; */
  }
  .profile-post {
    width: 119px;
    height: 119px;
    margin: 0px 0px 0px 0px;
    /* border: solid 5px green; */
  }
}
