.home-bg {
  background: #fafafa;
  min-height: 100vh;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: solid 5px black; */
}

.search-page {
  display: block;
}

.home-page-container2 {
  display: none;
}

@media (min-width: 992px) {
  /* .home-page-container {
    display: block;
  } */
  .search-page {
    display: none;
  }
  .home-page-container2 {
    display: block;
  }
}
