/* * {
  border: solid 1px black;
} */
.home-bg {
  background: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;

  /* border: solid 3px red; */
}

.home-page-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* border: solid 5px black; */
}

.search-page-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.home-page-container2 {
  display: none;
}

.sm-search-page-icon {
  margin-right: 15px;
}

@media (min-width: 992px) {
  /* .home-page-container {
    display: block;
  } */
  .search-page {
    display: none;
  }
  .home-page-container2 {
    display: block;
  }
}
