.profile-bg {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  min-height: 90vh;
  /* border: solid 3px red; */
}
.profile-views-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
