.nav-lg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 5px green;
  width: 80vw;
  max-width: 1100px;
}

.nav-bg {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.nav-logo-container {
  display: flex;
  border-color: blue;
}
.nav-large-screen-options {
  display: none;
}

.hamburger {
  display: block;
}

.nav-sm-options-bg {
  display: block;
}

@media (min-width: 992px) {
  .nav-large-screen-options {
    display: flex;
    margin-left: 0px;
    list-style: none;
  }
  .hamburger {
    display: none;
  }
  .nav-sm-options-bg {
    display: none;
  }
}
