.nav-lg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: solid 5px green; */
  width: 80vw;
  max-width: 1100px;
}

.nav-bg {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 48px;
  font-family: 'Roboto';
  font-style: normal;
}

.nav-logo-container {
  display: flex;
  border-color: blue;
  justify-content: center;
  align-items: center;
}
.website-logo {
  height: 30px;
  width: 59px;
  margin-right: 12px;
}
.logo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.link {
  text-decoration: none;
}

.search-container {
  border: solid 1px #dbdbdb;

  height: 28px;
  background: #fafafa;
  border-radius: 4px 0px 0px 4px;
  display: flex;
  background-color: #dbdbdb;
  align-items: center;
  margin-right: 32px;
}
.search {
  height: 100%;
  width: 172px;
  padding-left: 10px;
  outline: none;
  border: solid 1px #dbdbdb;
  border-radius: 3px 0px 0px 3px;
  background-color: #fafafa;
}

.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon-btn {
  background-color: #dbdbdb;
  border: none;
}
.nav-search-icon {
  background: #989898;
  height: 10px;
  width: 10px;
  background-color: #dbdbdb;
}

.active-header-section {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #4094ef;
  text-decoration: none;
  margin-right: 16px;
}

.header-section {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  text-decoration: none;
  margin-right: 16px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.logout-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  /* gap: 8px; */

  width: 86px;
  height: 32px;

  background: #4094ef;
  border-radius: 4px;
  border: none;
}

.nav-large-screen-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  list-style: none;
}

.hamburger {
  display: none;
}

.nav-sm-options-bg {
  display: none;
}

/* * {
  border: solid 1px red;
} */

@media (max-width: 992px) {
  .nav-large-screen-options {
    display: none;
  }
  .hamburger {
    display: block;
    width: 18px;
    background: transparent;
    border: none;
  }
  .nav-sm-options-bg {
    display: block;
  }
}
