.post-dark-theme{
  background-color: #0a0a0a;
  color: #e7e3e3;
  border: solid 1px #727274;
  border-radius: 4px 4px 0px 0px;
}
.post-light-theme{
  background-color: #ffffff;
  color:#262626;
  border: solid 1px #e7e3e3;
  border-radius: 4px 4px 0px 0px;
}

.post-profile-dark-theme{
  color:#e7e3e3 ;
}

.post-profile-light-theme{
  color:#262626
}

.post-container {
  margin-bottom: 32px;
  font-family: 'Roboto';
  font-style: normal;
}
/* * {
  border: solid 1px black;
} */

.post-author-img {
  width: 28px;
  height: 28px;
  border-radius: 16px;
  border: 2px solid #ffffff;
}

.post-profile-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background: #ffffff; */
  /* border: 1px solid #dbdbdb; */
  border-radius: 4px 4px 0px 0px;
}

.post-profile-img-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #e20337, #c60188, #7700c3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 16px 14px 24px;
}

/* .c {
} */
.post-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.p {
  height: 18px;
  left: 72px;
  top: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  /* color: #262626; */
}

.post-img {
  height: 614px;
  width: 100%;
  margin-bottom: 0px;
}

.post-footer {
  margin-top: 0px;

  padding-left: 24px;
  /* background: #ffffff; */
  /* border: 1px solid #dbdbdb; */
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}

.post-img-container {
  margin-bottom: 0px;
  padding: 0px;
}
.icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.like-icon {
  height: 20px;
  width: 23.24px;
  margin: 16px 16px 16px 0px;
}
.unlike-icon {
  height: 20px;
  width: 24px;
  margin: 16px 16px 16px 0px;
}

.comment-icon {
  height: 19.38px;
  width: 22px;
  margin: 1px;
}

.share-icon {
  height: 19.9px;
  width: 18px;
  margin: 16px;
}
.likes-count {
  width: 68px;
  height: 18px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  margin: 0px 0px 8px 0px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  /* color: #262626; */
}
.caption-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* color: #262626; */
  margin: 8px 0px 8px 0px;
}
.comment-section {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.comment-list {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* color: #262626; */
  margin: 0px 0px 8px 0px;
}
.comment-author {
  margin: 0px 4px 0px 0px;
}
.comment {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
}
.post-time {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #989898;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .post-img {
    height: 375px;
  }
}
